<!DOCTYPE = "html">
<html lang="en>
<head>
	<meta charset="UTF-8">
	<title>About</title>

<style>
body{
	background:url(https://img3.goodfon.com/original/1366x768/1/85/schenok-sobaka-zhivotnoe-zver.jpg);
	background-size:cover;
}
.about{
float:right;
width: 25%;
padding:20px;
background-color: #ffffff;
font-size:18px;
border-radius: 20px;

}

</style>
</head>
<body>
<div class="about">
<h1>About Us</h1>
<p>Little paws is an online, searchable database of animals who need homes. Hundreds of pets are abandoned and rescued in India everyday. Although there are many wonderful souls across the nation who work extra hours and put in efforts beyond their capacity, there is always a shortage of funding and communication across the animal activist circuit.</p><br>
      <p>  It’s a way of giving a loving new home to a shelter animal – and maybe even saving its life. There are many different animal care issues to consider during the adoption process, but it will all be worthwhile when the new owner goes home with their adopted pet.
      Every Pet deserves a loving home.Help us spread the word about the life-changing experience of adoption.</p>
</div>

</body>
</html>